* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-image: url('0777.avif'); /* Add the image URL here */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
  }
  
  
  .container {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 700px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="number"],
  button,
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1f43e6;
  }
  
  input[type="text"] {
    background-color: #f9f9f9;
    cursor: not-allowed;
  }
  
  .checkboxes {
    margin: 10px 0;
  }
  